<% if alert %>
    <div class="alert alert-danger">
        <%= alert %>
    </div>
<% end %>

<h1>Interviewee Index Page</h1><br>

<%= form_tag(interviewees_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', :class => "btn btn-light" %>
<% end %>
<br>

<% @interviewees.each do |interviewee| %>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><%= interviewee.name %></h4>
            <p class="card-text">Inspired <%= interviewee.job_title %></p>
            <a href="<%= interviewee_path(interviewee) %>" class="card-link btn  btn-primary"> View Profile</a>
            <% if current_user %>
                <a href="mailto:<%= interviewee.email %>" class="card-link btn  btn-primary"> Contact</a>
            <% end %>
        </div>
    </div>
<% end %>

