<% if alert %>
    <div class="alert alert-danger">
        <%= alert %>
    </div>
<% end %>

<h1>Interviewee Index Page</h1><br>

<% @interviewees.each do |interviewee| %>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><%= interviewee.name %></h4>
            <p class="card-text">Inspired <%= interviewee.job_title %></p>
            <a href="<%= interviewee_path(interviewee) %>" class="card-link btn  btn-primary"> View Profile</a>
            <a href="mailto:<%= interviewee.email %>" class="card-link btn  btn-primary"> Contact</a>
        </div>
    </div>
<% end %>

