<h1>Interviewee Profile</h1><br>

<% if @interviewee.image %>
<img src=<%= @interviewee.image %> alt="Profile Picture"><br>
<% end %>

<p>Name: <%= @interviewee.name %></p>
<% if current_user == @interviewee%>
    <p>Email: <%= @interviewee.email %></p>
<% end %>
<p>I aspire to be a: <%= @interviewee.job_title %></p>
<p>Job Level: <%= @interviewee.job_level %></p>
<p>Years of Experience: <%= pluralize(@interviewee.experience, "year") %> </p>

<p>Your Interviews:</p>
<% if current_user == @interviewee%>
    <p>Account Balance: $<%= @interviewee.balance %></p>

    <table class="table">
        <thead>
            <th scope='col'>#</th> 
            <th scope='col'>Interviewer</th>          
            <th scope='col'>Interview Date</th>    
            <th scope='col'>Interview Time</th>
            <th scope='col'>Length</th>        
            <th scope='col'>Cost</th>
            <th scope='col'>Status</th>    
        </thead>
        <% @interviewee.interviews.order(date: :desc, time: :desc).each_with_index do |interview, i| %>
            <tr>
                <td><%= link_to (i+1), interview_path(interview) %></td>
                <td><%=interview.interviewer.name%></td>              
                <td><%=display_date(interview)%></td>
                <td><%=display_time(interview)%></td>
                <td><%= pluralize(interview.length, "hour") %></td>
                <td>$<%= interview.cost %></td>
                <td><%=interview.status%></td>
            </tr>
        <% end %>
    </table>

    <p><%= button_to 'Delete Account', interviewee_path(@interviewee), method: :delete %></p>
<% end %>