<h1>Interviewee Profile</h1><br>

<% if @interviewee.image %>
<img src=<%= @interviewee.image %> alt="Profile Picture"><br>
<% end %>

<p>Name: <%= @interviewee.name %></p>
<% if current_user == @interviewee%>
    <p>Email: <%= @interviewee.email %></p>
<% end %>
<p>I aspire to be a: <%= @interviewee.job_title %></p>
<p>Job Level: <%= @interviewee.job_level %></p>
<p>Years of Experience: <%= pluralize(@interviewee.experience, "year") %> </p>

<% if current_user == @interviewee%>
    <p>Account Balance: $<%= @interviewee.balance %></p><br>
<% end %>