<h1>Interview Show Page</h1><br>

Interviewer: <%= link_to @interview.interviewer.name, interviewer_path(@interview.interviewer) %> <br>
Interviewee: <%= link_to @interview.interviewee.name, interviewee_path(@interview.interviewee) %> <br>
Date: <%= display_date(@interview) %> <br>
Time: <%= display_time(@interview) %> <br>
Length: <%= pluralize(@interview.length, "hour") %><br>
Cost: $<%= @interview.cost %><br>
Status: <%= @interview.status %><br>

<p><%= link_to 'Back', :back, method: get %></p>