<h1>Interview Show Page</h1><br>

Interviewer: <%= @interview.interviewer.name %> <br>
Interviewee: <%= @interview.interviewee.name %> <br>
Date: <%= @interview.date %> <br>
Time: <%= @interview.time %> <br>
Length: <%= @interview.length %> hour(s)<br>
Cost: $<%= @interview.cost %><br>

<p><%= @interview.process_payment %></p>