<h1>Interview Show Page</h1>

Interviewer: <%= @interviewer.name %> <br>
Interviewee: <%= @interviewee.name %> <br>
Date: <%= @interview.date %> <br>
Time: <%= @interview.time %> <br>
Length: <%= @interview.length %> hour(s) <br>
Cost: $<%= @interview.cost %>