<%= bootstrap_form_with model: @interviewer, local: true do |f|%>
    
    <%= render 'form', f: f %>

    <%= f.select :is_active, options_for_select([["Active", true], ["Inactive", false]], selected = @interviewer.is_active), { label: "Account Status" } %> <br>

    <%= f.submit "Update Account", :class => "btn  btn-primary" %>
<% end %>

<% if current_user == @interviewer%>
    <p><%= button_to 'Delete Account', interviewer_path(@interviewer), method: :delete, :class => "btn  btn-secondary", data: {confirm: "Are you sure?"} %></p>
<% end %>