<h1>Interviewer Profile</h1><br>

<% if @interviewer.image %>
<img src=<%= @interviewer.image %> alt="Profile Picture"><br>
<% end %>

<p>Name: <%= @interviewer.name %></p>
<% if current_user == @interviewer%>
    <p>Email: <%= @interviewer.email %></p>
 <% end %> 
<p>Company: <%= @interviewer.company.name %></p>
<p>Job Title: <%= @interviewer.job_title %></p>
<p>Job Level: <%= @interviewer.job_level %></p>
<p>Years of Experience: <%= pluralize(@interviewer.experience, "year") %></p>
<p>Manager: <%= @interviewer.is_manager ? "Yes" : "No" %></p>
<p>Status: <%= @interviewer.is_active ? "Active" : "Inactive" %></p>
<p>Hourly Rate: $<%= @interviewer.rate %></p>

<% if current_user && account_type == "Interviewee" %>
    <%= link_to "Schedule an Interview", new_interviewer_interview_path(@interviewer), :class => "btn  btn-primary"  %><br>
<% end %>

