<h1>Interviewer Profile</h1><br>

<% if @interviewer.image %>
<img src=<%= @interviewer.image %> alt="Profile Picture"><br>
<% end %>

<p>Name: <%= @interviewer.name %></p>
<% if current_user == @interviewer%>
    <p>Email: <%= @interviewer.email %></p>
 <% end %>
<p>Job Title: <%= @interviewer.job_title %></p>
<p>Job Level: <%= @interviewer.job_level %></p>
<p>Years of Experience: <%= pluralize(@interviewer.experience, "year") %></p>
<p>Manager: <%= @interviewer.is_manager ? "Yes" : "No" %></p>
<p>Status: <%= @interviewer.is_active ? "Active" : "Inactive" %></p>
<p>Hourly Rate: $<%= @interviewer.rate %></p>

<p>Your Interviews:</p>
<% if current_user == @interviewer%>
    <table class="table">
        <thead>
            <th scope='col'>#</th> 
            <th scope='col'>Interviewee</th>      
            <th scope='col'>Interview Date</th>         
            <th scope='col'>Interview Time</th>
            <th scope='col'>Length</th>        
            <th scope='col'>Cost</th>
            <th scope='col'>Status</th>    
        </thead>
        <% @interviewer.interviews.order(date: :desc, time: :desc)).each_with_index do |interview, i| %>
            <tr>
                <td><%= link_to (i+1), interview_path(interview) %></td>
                <td><%=interview.interviewee.name%></td>              
                <td><%=display_date(interview)%></td>
                <td><%=display_time(interview)%></td>
                <td><%= pluralize(interview.length, "hour") %></td>
                <td>$<%= interview.cost %></td>
                <td><%=interview.status%></td>
            </tr>
        <% end %>
    </table>

    <p><%= button_to 'Delete Account', interviewer_path(@interviewer), method: :delete %></p>
<% end %>

<%= link_to 'Back', :back %>